/* setup the page */
/* Line 1 */
body {
    background-color: #006400;
    color:#adff2f;
}
/* Line 2 */
h2 {
    color:limegreen;
    font-family: 'Courier New', monospace;
}
/* Line 3 */
h3 {
    color:lightgreen;
    font-family: Georgia, serif;
}